* {
    background-color: #141010;
    color: #F5F5FA;
    font-family: sans-serif;
}

h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 150px;
}

section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: dense;
    margin-left: 150px;
    margin-right: 150px;
    grid-gap: 50px;
}

.card {
    background-color: #323232;
    width: 250px;
    height: 300px;
    border-radius: 15px;
}